image: openjdk:11-jdk-slim

variables:
  REVISION: $CI_PIPELINE_ID
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

services:
  - docker:dind

before_script:
  - apt update
  - apt install -y python3-pip
  - pip3 install --upgrade --user awscli

stages:
  - test_and_deploy

test_and_deploy:
  stage: test_and_deploy
  script:
    - export PATH=root/.local/bin:$PATH
    - $(root/.local/bin/aws ecr get-login --no-include-email --region eu-west-1)
    - ./mvnw deploy
  only:
    - master